*.sublime-workspace
*.code-workspace
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user
*/obj/*
*/bin/*
**/packages/
.vs/
*.vspx
*.psess
Config.json
/Supplemental/app_data.sqlite
Updates/
/Updates/
.idea
External/*
Garland.Web/ffxivfisher/fisher - 副本.js
Garland.Server/schema/keystore.sql
Garland.Server/garland.conf
Garland.Server/nginx-files.garlandtools.org.conf
Garland.Server/nginx-garlandtools.org.conf
Garland.Server/api/config.php
Garland.Server/vendor/*
Garland.Web/files
Garland.Web/db/test.html
lib/SaintCoinach - for international/
